.qtyNum{
    width: 50px;

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    color: #3e3333;
    font-family: fantasy;

}
.showCart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
img{
    width: 50px;
}
.sticky{
    position: sticky;
    top: 0px;
    background-color: coral;
}