#qtyNum{
    width: 50px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    position: sticky;
}
body{
    color: #3e3333;
    font-family: fantasy;
}
.showCart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    bottom: 10px;
    background-color: darkolivegreen;

}

img{
    width: 50px;
}

.grid-container > div{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
/*.sticky{
    position: sticky;
    top: 0px;
    background-color: coral;
    text-align: center;
}   
