.qtyNum{
    width: 50px;

}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rightdiv{
    position: relative;
    left: 100px;
}
body{
    color: #3e3333;
    font-family: fantasy;

}
.showCart{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}